# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
android/local.properties
android/gradlew
android/gradlew.bat
android/.gradle
android/app/build
android/key.properties
# If you are not using AndroidX, you might need to ignore these too:
# android/generated/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.generated/
ios/Pods/
ios/Podfile.lock

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Web
web/icons/
web/favicon.png
web/manifest.json

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Exceptions to rules above
!/android/app/src/main/AndroidManifest.xml
!/ios/Runner/Info.plist